<div class="col-md-12" ng-controller="AddSavingInvestmentController">
        <ul class="breadcrumb">
        </ul>
        <form name="createinvestmentform" novalidate="" class="form-horizontal well" rc-submit="submit()">
            <api-validate></api-validate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.heading.clientname' | translate}}</label>
                    <div class="col-sm-3">
                        <select chosen="clients" id="id" ng-model="formData.id"  class="form-control"
                                 ng-change="selectLoans(formData.id)"
                                 ng-options="client.id as client.displayName for client in clients" value="{{client.id}}">
                            <option value="">--Select client --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.heading.availableloans' | translate}}</label>
                    <div class="col-sm-3">
                        <select chosen="loans" ng-model="formData.Id"  class="form-control"
                                 ng-options="ln.Id as ln.productName for ln in loans" value="{{ln.Id}}">
                            <option value="">--Select Loans --</option>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm2">Add Investment Amount </label>
                    <div class="col-sm-3">
                        <input type="text" id="investedAmount" name="investedAmount" ng-model="formData.investedAmount"  class="form-control"/>
                    </div>
                    <div class="col-md-1">
                        <a class="btn bg-primary" ng-click='addInvestment(formData.Id)'><i class="icon-plus"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <table class="table " style="table-layout: fixed;">
                        <thead>
                        <tr class="graybg">
                               <th> {{'label.heading.clientname' | translate}}</th>
                               <th> {{'label.heading.loanproductname' | translate}}</th>
                               <th> {{'label.heading.loanaccountno' | translate}}</th>
                               <th> {{'label.heading.loanamount' | translate}}</th>
                                <th> Invested Amount </th>
                             </tr>
                    </thead>
                        <tbody>
                    <tr ng-repeat="investment in savingInvestment">
                            <td>{{investment.name}}</td>
                            <td> {{investment.productname}}</td>
                            <td>{{investment.accountno}}</td>
                            <td> {{investment.loanammount}}</td>
                           </tr>
                   </tbody>
                    </table>
                </div>

                <div class="col-md-offset-5">
                    <button class="btn btn-primary" ng-click="gotoBack()"> {{'label.button.cancel' | translate}}</button>
                    <button id="save" type="submit" ng-click="submitData()" class="btn btn-primary"  ng-hide="blockUI">{{'label.button.save' | translate}}</button>
                    <button class="btn btn-info" ng-show="blockUI"><strong>{{'label.button.processing' | translate}}</strong></button>
                </div>
            </fieldset>
        </form>
    </div>