<div class="col-md-12" ng-controller="MpesaReconciliationController">
    <ul class="breadcrumb">
        <li class="active">Mpesa</li>
    </ul>
    <ul></ul>
    <div ng-show="find==true">
        <table>
            <tr>
                <td ng-click="search('mobileNo')" class="btn btn-default">{{'Find by Mobile No' | translate}}</td>
                <td ng-click="search('TxnDate')" class="btn btn-default">{{'Find by Transaction Date' | translate}}</td>
                <td ng-click="search('status')" class="btn btn-default">{{'Find by Status' | translate}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="mobileNo==true">
        <label class="control-label col-sm-2" for="mobileNo">{{'label.input.mobilenumber' | translate}}</label>
        <div class="col-sm-3">
            <input type="text" id="mobileNo" name="mobileNo" ng-model="mobileNosearch"
                   ng-pattern="/^[0-9]+$/"  class="form-control"/>
            <ul></ul>
            <label class="control-label col-sm-3" for="mobileNo"></label>
            <div col-md-offset-5>
            <button id="cancel" type="reset" align="middle" class="btn btn-default" ng-click="cancel()">{{ 'label.button.cancel' | translate}}</button>
            <button id="save" type="submit"  class="btn btn-primary" ng-click="FindByMobileNo()">{{ 'label.button.save' | translate}}</button>
        </div>
        <ul></ul>
    </div>
    </div>
    <div ng-show="TxnDate==true">
        <table>
            <tr>
               <td>From Date</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input id="From Date" type="text" name="From Date" datepicker-pop="dd MMMM yyyy"
                ng-model="fromDateSearch" is-open="opened" min="'2000-01-01'" max="restrictDate"  class="form-control"/></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;To Date &nbsp;&nbsp;&nbsp;&nbsp;</td><td><input id="To Date" type="text" name="From Date" datepicker-pop="dd MMMM yyyy"
                ng-model="toDateSearch" is-open="opened" min="'2000-01-01'" max="restrictDate"  class="form-control"/></td>
            </tr>
            <tr>
                <td> &nbsp; </td>
            </tr>
            <tr><td colspan="2"></td><td></td>
                <td>
                <button id="cancebyDate" type="reset" align="middle" class="btn btn-default" ng-click="cancel()">{{ 'label.button.cancel' | translate}}</button>
                </td>
                <td>
                <button id="savebyDate " type="submit"  class="btn btn-primary" ng-click="FindByTxnDate()">{{ 'label.button.save' | translate}}</button>
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="status==true">
        <form>
        <table><tr><td>
            Status
        </td>
             <td>&nbsp;&nbsp;&nbsp;&nbsp;
        <select chosen="searchStatus"  ng-model="formDate.searchStatus1"  class="form-control"
                ng-options="value.id as value.name for value in searchStatus track by value.id" value="{{value.id}}">
                </select></td>
        </tr>
         <tr><td>&nbsp;</td></tr>
         <tr><td></td>
             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button id="cancebyStatus" type="reset" align="middle" class="btn btn-default" ng-click="cancel()">{{ 'label.button.cancel' | translate}}</button>
                 &nbsp;&nbsp;&nbsp;&nbsp;
                 <button id="savebyStatus " type="submit"  class="btn btn-primary" ng-click="FinByStatus()">{{ 'label.button.save' | translate}}</button>
             </td>
         </tr>
         </table>
            </form>
      </div>
    <ul></ul>
    <table class="table">
        <thead>
        <tr class="graybg">
            <th>Transaction Date</th>
            <th>Transaction Code</th>
            <th>Client</th>
            <th>Mobile No</th>
            <th>Transaction Details</th>
            <th></th>
            <th></th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="transactions in completetransaction">
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.transactionTime}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.transactionCode}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.clientName}}-{{transactions.clientId}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.mobileNo}}</td>
            <td  colspan="3" class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.testMessage}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.transactionDate,transactions.id)">{{transactions.transactionAmount}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.transactionDate,transactions.id)">{{transactions.status}}</td>
            </tr>
        </tbody>
    </table>
</div>