<div class="col-md-12" ng-controller="MpesaReconciliationController">
    <ul class="breadcrumb">
        <li class="active">Mpesa</li>
    </ul>
    <ul></ul>
    <div>
        <table>
            <tr>
                <td ng-click="search('mobileNo')" class="btn btn-default">{{'Find by Mobile No' | translate}}</td>
                <td ng-click="search('TxnDate')" class="btn btn-default">{{'Find by Transaction Date' | translate}}</td>
                <td ng-click="search('status')" class="btn btn-default">{{'Find by Status' | translate}}</td>
            </tr>
        </table>
    </div>
    <div>
        
    </div>
    <ul></ul>
    <table class="table">
        <thead>
        <tr class="graybg">
            <th>Transaction Date</th>
            <th>Transaction Code</th>
            <th>Client</th>
            <th>Mobile No</th>
            <th>Transaction Details</th>
            <th></th>
            <th></th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="transactions in completetransaction">
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.transactionTime}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.transactionCode}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.clientName}}-{{transactions.clientId}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.mobileNo}}</td>
            <td  colspan="3" class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.id)">{{transactions.testMessage}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.transactionDate,transactions.id)">{{transactions.transactionAmount}}</td>
            <td class="pointer" data-ng-click="routeTo(transactions.clientId,transactions.transactionAmount,transactions.transactionCode,transactions.transactionDate,transactions.transactionDate,transactions.id)">{{transactions.status}}</td>
            </tr>
        </tbody>
    </table>
</div>