<div  class="col-md-12" >
        <ul class="breadcrumb">
           <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
           <li class="active">{{'label.anchor.sendoption' | translate}}</li>
        </ul>

        <form  novalidate="" class="form-horizontal well"
              ng-controller="SmsController">
            <api-validate></api-validate>
            <fieldset>
                <legend>{{'label.view.smsmanagement' | translate}}</legend>
                <div class="col-sm-offset-2">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="sms">{{'label.input.sms'|translate}}</label>
                    <input id="sms" type="radio" ng-model="sendby" value="sms"/>
                    <label><ul></ul></label>
                    <label></label>
                    <label for="email">{{'label.input.email'|translate}}</label>
                    <input id="email" type="radio" ng-model="sendby" value="email"/>
                </div>
                <ul></ul>
                <div>
                    <label class="control-label col-sm-2">{{ 'label.input.office' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <select chosen="offices" id="officeId" ng-model="formData.officeId" class="form-control"
                                ng-options="office.id as office.name for office in offices"
                                value="{{office.id}}" ng-change="fetchClientByOfficeId(formData.officeId)"></select>
                    </div>
                </div>
                <ul></ul>
                <div>
                    <label>description</label>
                </div>
                </fieldset>
            </form>
    </div>


